<section id="features">
    <div class="row">
      <h1 id="features_head">The Grocery Story 💚</h1>
      <div class="container d-flex justify-content-center py-3">
        <button type="button" onclick = "location.href='https://www.facebook.com'"   class="btn btn-success btn-lg btn-floating mx-2" >
          <i class="fab fa-facebook-f"></i>
        </button>
        <button type="button" onclick = "location.href='https://www.youtube.com/c/madangowri/videos'" class="btn btn-success btn-lg btn-floating mx-2" >
          <i class="fab fa-youtube"></i>
        </button>
        <button type="button" onclick = "location.href='https://www.instagram.com'" class="btn btn-success btn-lg btn-floating mx-2">
          <i class="fab fa-instagram"></i>
        </button>
        <button type="button" onclick = "location.href='https://www.twitter.com'" class="btn btn-success btn-lg btn-floating mx-2">
          <i class="fab fa-twitter"></i>
        </button>
        <a href="mailto:naveenvm.cs20@bitsathy.ac.in"><button type="button" onclick = "location.href='https://www.twitter.com'" class="btn btn-success btn-lg btn-floating mx-2">
          <i class="fa-solid fa-envelope"></i>
        </button></a></i>
        </button>
        
    </div>
    <h5 class="py-3">All rights reserved 2022 © </h5>
    <h5 class="py-3">Created by Naveen Varatharaj!</h5>

        
</section>

<!-- Bootstrap JavaScript Libraries -->
<script src="script.js"></script>
<script src="lib/vanilla-toast.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>