<%- include ("partials/header1.ejs") %>
<!-- <h2 id="cart_header"> Shopping cart 🚀</h2> -->

<div class="container">
    <h2 id="cart_header"> Shopping cart 🚀</h2>

    <div class="container-cart container">
        <h3 id="cart_count">3 items in your cart 🛒</h3>

        <table class="table table-hover cart_table table-bordered">
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>

                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<script>
  alert("Hello World")
</script>