<%-include ("partials/header.ejs") %>

<head>
    <title> Diary Products</title>
</head>

<h1 class="product_head"> Fruits</h1>
<h2 class="product_subheading">Get Fresh Fruits from The Grocery Story!!</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card item_card" style="width: 21rem; height:28rem;">
                <img src="https://st.depositphotos.com/1237049/3371/i/450/depositphotos_33712915-stock-photo-yogurt.jpg"
                    class="card-img-top items_img" alt="Apple Image">
                <div class="card-body">
                    <h5 class="card-title card_pricing">25₹</h5>
                    <h5 class="card-title fruits_card_title ">Curd</h5> <br>
                    <a href="#" class="order_now_btn btn btn-success px-3">Buy Now</a>
                    <a href="#" class="buy_now_btn btn btn-outline-success px-3">Add to cart</a>

                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card item_card" style="width: 21rem; height:28rem;">
                <img src="https://www.pngitem.com/pimgs/m/290-2908577_milk-cup-glass-transparent-glass-of-milk-png.png"
                    class="card-img-top items_img" alt="Apple Image">
                <div class="card-body">
                    <h5 class="card-title card_pricing">25₹</h5>
                    <h5 class="card-title fruits_card_title ">Milk</h5> <br>
                    <a href="#" class="order_now_btn btn btn-success px-3">Buy Now</a>
                    <a href="#" class="buy_now_btn btn btn-outline-success px-3">Add to cart</a>

                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card item_card" style="width: 21rem; height:28rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6XRlsqOVHQJHzHlDOHDYKiJNxdhONb2-PGL8Zug9C0afWsNAfqYQ9zQnKrcsQjF8Tx3g&usqp=CAU"
                    class="card-img-top items_img" alt="Apple Image">
                <div class="card-body">
                    <h5 class="card-title card_pricing">25₹</h5>
                    <h5 class="card-title fruits_card_title ">Milk</h5> <br>
                    <a href="#" class="order_now_btn btn btn-success px-3">Buy Now</a>
                    <a href="#" class="buy_now_btn btn btn-outline-success px-3">Add to cart</a>

                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card item_card" style="width: 21rem; height:28rem;">
                <img src="Images/Fruits/Apple.jpg" class="card-img-top items_img" alt="Apple Image">
                <div class="card-body">
                    <h5 class="card-title card_pricing">25₹</h5>
                    <h5 class="card-title fruits_card_title ">Milk</h5> <br>
                    <a href="#" class="order_now_btn btn btn-success px-3">Buy Now</a>
                    <a href="#" class="buy_now_btn btn btn-outline-success px-3">Add to cart</a>

                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card item_card" style="width: 21rem; height:28rem;">
                <img src="Images/Fruits/Apple.jpg" class="card-img-top items_img" alt="Apple Image">
                <div class="card-body">
                    <h5 class="card-title card_pricing">25₹</h5>
                    <h5 class="card-title fruits_card_title ">Milk</h5> <br>
                    <a href="#" class="order_now_btn btn btn-success px-3">Buy Now</a>
                    <a href="#" class="buy_now_btn btn btn-outline-success px-3">Add to cart</a>

                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card item_card" style="width: 21rem; height:28rem;">
                <img src="Images/Fruits/Apple.jpg" class="card-img-top items_img" alt="Apple Image">
                <div class="card-body">
                    <h5 class="card-title card_pricing">25₹</h5>
                    <h5 class="card-title fruits_card_title ">Milk</h5> <br>
                    <a href="#" class="order_now_btn btn btn-success px-3">Buy Now</a>
                    <a href="#" class="buy_now_btn btn btn-outline-success px-3">Add to cart</a>

                </div>
            </div>
        </div>


    </div>