<%-include ("partials/header.ejs") %>


<section id="top">
  <div class="container-fluid">
    <div class="row">
      <div class=" head col-lg-6 col-md-12 col-sm-12">
        <h2 id="tophead">Find your space here to share your secrets in our college without saying who you are! Let's have fun  🙌⚡
        </h2>
        <button class="btn btn-lg btn-success write_now" onclick = "location.href='/signin'">Write your Memory ⚡</button> <br> <br>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <!-- <div class="imagetop">
          <img src="/Images/Reading_Image.jpg">
        </div> -->
      </div>
    </div>
  </div>
</section>