<%-include ("partials/header.ejs") %>
<section class="fruits">

    <h1 class="product_head"> Vegetables</h1> <br>
    <h2 class="product_subheading">Fresh Vegetables from The Grocery Story!!</h2>
    
    <div class="container">
        <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card item_card" style="width: 21rem; height:28rem;">
            <img src="Images/Fruits/Apple.jpg" class="card-img-top items_img" alt="Apple Image">
            <div class="card-body">
                <h5 class="card-title card_pricing">25₹</h5>
                <h5 class="card-title fruits_card_title ">Apple</h5> <br>
                <a href="/signin" class="order_now_btn btn btn-success px-3">Buy Now</a>
                <a href="/signin" class="buy_now_btn btn btn-outline-success px-3">Add to cart</a>

            </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card item_card" style="width: 21rem; height:28rem;">
            <img src="Images/Fruits/Banana.jpg" class="card-img-top items_img" alt="Banana Image">
            <div class="card-body">
                <h5 class="card-title card_pricing">25₹</h5>
                <h5 class="card-title  fruits_card_title ">Banana</h5> <br>
                <a href="/signin" class="order_now_btn btn btn-success px-3">Buy Now</a>
                <a href="/signin" class="buy_now_btn btn btn-outline-success px-3">Add to cart</a>

            </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card item_card" style="width: 21rem; height:28rem;">
            <img src="Images/Fruits/Fig.jpg" class="card-img-top items_img" alt="Fig Image">
            <div class="card-body">
                <h5 class="card-title card_pricing">25₹</h5>
                <h5 class="card-title  fruits_card_title ">Fig</h5> <br>
                <a href="/signin" class="order_now_btn btn btn-success px-3">Buy Now</a>
                <a href="/signin" class="buy_now_btn btn btn-outline-success px-3">Add to cart</a>

            </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card item_card" style="width: 21rem; height:28rem;">
            <img src="Images/Fruits/Grapes.jpg" class="card-img-top items_img" alt="Grapes Image">
            <div class="card-body">
                <h5 class="card-title card_pricing">25₹</h5>
                <h5 class="card-title  fruits_card_title ">Grapes</h5> <br>
                <a href="/signin" class="order_now_btn btn btn-success px-3">Buy Now</a>
                <a href="/signin" class="buy_now_btn btn btn-outline-success px-3">Add to cart</a>

            </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card item_card" style="width: 21rem; height:28rem;">
            <img src="Images/Fruits/kiwi.jpg" class="card-img-top items_img" alt="Kiwi Images">
            <div class="card-body">
                <h5 class="card-title card_pricing">25₹</h5>
                <h5 class="card-title  fruits_card_title ">Kiwi</h5> <br>
                <a href="/signin" class="order_now_btn btn btn-success px-3">Buy Now</a>
                <a href="/signin" class="buy_now_btn btn btn-outline-success px-3">Add to cart</a>

            </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card item_card" style="width: 21rem; height:28rem;">
            <img src="Images/Fruits/Mango.jpg" class="card-img-top items_img" alt="">
            <div class="card-body">
                <h5 class="card-title card_pricing">25₹</h5> 
                <h5 class="card-title  fruits_card_title ">Mango</h5> <br>
                <a href="/signin" class="order_now_btn btn btn-success px-3">Buy Now</a>
                <a href="/signin" class="buy_now_btn btn btn-outline-success px-3">Add to cart</a>

            </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card item_card" style="width: 21rem; height:28rem;">
            <img src="Images/Fruits/Orange.webp" class="card-img-top items_img" alt="...">
            <div class="card-body">
                <h5 class="card-title card_pricing">25₹</h5>
                <h5 class="card-title  fruits_card_title ">Orange</h5> <br>
                <a href="/signin" class="order_now_btn btn btn-success px-3">Buy Now</a>
                <a href="/signin" class="buy_now_btn btn btn-outline-success px-3">Add to cart</a>
            </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card item_card" style="width: 21rem; height:28rem;">
            <img src="Images/Fruits/pineapple.jpg" class="card-img-top items_img" alt="...">
            <div class="card-body">
                <h5 class="card-title card_pricing">25₹</h5>
                <h5 class="card-title  fruits_card_title ">Pineapple</h5> <br>
                <a href="/signin" class="order_now_btn btn btn-success px-3">Buy Now</a>
                <a href="/signin" class="buy_now_btn btn btn-outline-success px-3">Add to cart</a>
            </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card item_card" style="width: 21rem; height:28rem;">
            <img src="Images/Fruits/Pomo.jpg" class="card-img-top items_img" alt="...">
            <div class="card-body">
                <h5 class="card-title card_pricing">25₹</h5>
                <h5 class="card-title  fruits_card_title ">Pomegranate</h5> <br>
                <a href="/signin" class="order_now_btn btn btn-success px-3">Buy Now</a>
                <a href="/signin" class="buy_now_btn btn btn-outline-success px-3">Add to cart</a>
            </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card item_card" style="width: 21rem; height:28rem;">
            <img src="Images/Fruits/Strawberry.jpg" class="card-img-top items_img" alt="...">
            <div class="card-body">
                <h5 class="card-title card_pricing">25₹</h5>
                <h5 class="card-title  fruits_card_title ">Strawberry</h5> <br>
                <a href="/signin" class="order_now_btn btn btn-success px-3">Buy Now</a>
                <a href="/signin" class="buy_now_btn btn btn-outline-success px-3">Add to cart</a>
            </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card item_card" style="width: 21rem; height:28rem;">
            <img src="Images/Fruits/Watermelon.jpg" class="card-img-top items_img" alt="...">
            <div class="card-body">
                <h5 class="card-title card_pricing">25₹</h5>
                <h5 class="card-title  fruits_card_title ">Watermelon</h5> <br>
                <a href="/signin" class="order_now_btn_btn btn btn-success px-3">Buy Now</a>
                <a href="/signin" class="buy_now_btn btn btn-outline-success px-3">Add to cart</a>
            </div>
            </div>
        </div>
    </div>
  </section>
<%- include ("partials/footer.ejs") %>