/* UTILITIES */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  font-family: 'Poppins', sans-serif;
  overflow-x:hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.maindiv{
  padding:3% 5%;
}
.container-fluid{
  padding-left: 5%;
  padding-top: 7%;
}

/* Top section */
#top{
  background-color: #ffffff;
}

.navbar{
  background-color: #d9ffdd;
}

.navbar-brand{
  font-size: 1.6rem;
  font-weight: bolder;
}

.signin_navbar{
  padding: 5px;
  color: white;
  border: 50%;
}

.nav-item{
  font-weight: bold;
  font-size: 1.1rem;
  margin-right: 40px;
}

/* Heading Section */
#top{
  margin-bottom: 3%;
}

#tophead{
  font-size:2.4rem;
  font-weight: bolder;
  padding-top: 50px;
  color: #064635;
}

.imagetop{
  width: 650px;
}

img{
  width: 90%;
  height: 85%;
  margin: 0 auto;
}

.write_now{
  margin-top: 15px;
}

/* Login page */
.login {
  background-color: #d9ffdd;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  padding: 5%;
  border: 1px solid rgb(10, 82, 0);
  box-shadow: 10%;
  display: inline;
  height: 470px;
  width: 480px;
  margin-top: 5%;
}

#span{
  padding-top: 6%;
}

#login_heading{
  text-align: center;
  margin-top: 50px;
  font-size: 2.2rem;
  color: #064635;
}

/* Signup Page */
.signup{
  height: 510px;
  width: 500px;
}

.form-width {
  margin-top: 50px;
  width: 50%;
  height: 508px;
  align-items: center;
  padding: 20px;
  font-weight: bold;
  background-color: #d9ffdd;
  border-radius: 5px;
  border: 2px solid #73AD21;
}

.head1 {
  display: inline-block;
}

.head {
  display: inline-block;
  margin-left: 130px;
  text-align: center;
  height: 50px;
  margin-top: 20px;
}

.but {
  text-align: center;
}

#text_Top{
  margin-top: 20px;
  text-align: center;
}

.text_date{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image_card{
  height: 80px;
  background-color: #d9ffdd;
}

.card-header{
  background: #d9ffdd;
}

.cards{
  padding-top: 50px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(0.5px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.cards:hover, .cards:focus, .cards:active {
  -webkit-transform: scale(0.1);
  transform: scale(1.1);
}


 /* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  #tophead{
    font-size:1.8rem;
    font-weight: bolder;
    padding-top: 10px;
    color: #064635;
  }
.head{
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
}
#imagetop{
  width: 350px;
  margin-top: 30px;
  margin-left:-10px;
  height: auto;
}
/* Login */
.login{
  width: 90%;
}
#login_heading{
  font-size: 1.7rem;
}
/* Signup */
.signup{
  margin-top: 25%;
  height: 490px;
}
.user_login{
  height: 350px;
  margin-top: 10%;
}
.item_card{
  margin-left: 5%;
}
.signup{
  margin-bottom:1%;
  height: 400px;
}
th{
  color: #11861f;
  font-size: 20px;
}

.form-width{
  width: 90%;
}
}